data/raw/*
!data/raw/.gitkeep
data/reference/kraken2_db/
data/reference/typhoid-consortium-meta/
data/reference/*.tar.gz
mykrobe/
results/*
!results/.gitkeep
workflows/report/*.html
workflows/report/*.pdf
.nextflow*
work/
*.fastq.gz
*.fasta
data/reference/klebsiella_ncbi/
data/reference/cryptic/
data/db/*.db
clinical-app/*.db
